i.pass{
	position: relative;
	top: 20%;
	left: 33%;
	color: green;
	font-size: 20pt;
	text-align: center;
	margin: 0px auto; 
}

.texticulo{
	text-align: center;
	position: relative;
	top: 20%;
	left: 18%;
}

i.pass:hover{
	transition: .5s ease all;
	color: lightgreen;
}